.horizontal-menu {
  .top-navbar {
    background: $horizontal-top-bg;
    
    .navbar-brand-wrapper {
      width: auto;
      height: $horizontal-top-navbar-height;
      .navbar-brand {
        color: lighten(color(gray-dark), 20%);
        font-size: 1.5rem;
        line-height: 48px;
        margin-right: 0;
        padding: .25rem 0;
        text-align: left;
        
        &.brand-logo-mini {
          display: none;
          padding-left: 0;
          text-align: center;
          img {
            width: 30px;
            max-width: 100%;
            margin: auto;
          }
        }

        &:active,
        &:focus,
        &:hover {
          color: lighten(color(gray-dark), 10%);
        }

        img {
          max-width: 100%;
          height: 24px;
          margin: auto;
          vertical-align: middle;
        }

        @media (max-width: 991px) {
          width: 55px;
          &.brand-logo {
            display: none;
          }
          &.brand-logo-mini {
            display: block;
          }
        }
      }
    }

    .navbar-menu-wrapper {
      transition: width $action-transition-duration $action-transition-timing-function;
      -webkit-transition: width $action-transition-duration $action-transition-timing-function;
      -moz-transition: width $action-transition-duration $action-transition-timing-function;
      -ms-transition: width $action-transition-duration $action-transition-timing-function;
      color: $horizontal-top-menu-item-color;
      padding-left: 24px;
      padding-right: 24px;
      width: calc(100% - #{$sidebar-width-lg});
      height: $horizontal-top-navbar-height;
      @media (max-width: 991px) {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        flex-grow: 1;
      }
  
      .navbar-nav-right {
        margin-left: auto;
  
        .rtl & {
          margin-left: 0;
          margin-right: auto;
        }
      }
  
      .navbar-toggler {
        border: 0;
        color: inherit;
        height: $horizontal-menu-height;
        @include border-radius(0px);
        padding-left: 5px;
        padding-right: 20px;
        &:not(.navbar-toggler-right) {
          font-size: 1.5rem;
          @media (max-width: 991px) {
            display: none;
          }
        }
        &.navbar-toggler-right{
          @media (max-width:991px){
            padding-left: 15px;
            padding-right: 11px;
            border-right: none;
          }
        }
      }
  
      .search-form {
        position: relative;
        margin-right: 15px;
  
        .rtl & {
          margin-right: 0;
          margin-left: 15px;
        }
  
        i {
          font-size: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          color: $horizontal-top-menu-item-color;
  
          .rtl & {
            left: auto;
            right: 0;
          }
        }
  
        input{
          background-color: transparent;
          border: none;
          cursor: pointer;
          width: 0;
          height: 35px;
          padding: 0 0 0 20px;
          position: relative;
          transition: width 400ms ease, background 400ms ease;
  
          &:focus{
            background-color: transparent;
            border-bottom: 1px solid $horizontal-top-menu-item-color;
            border-radius: 0;
            padding-left: 30px;
            cursor: text;
            outline: 0;
            width: 140px;
  
            .rtl & {
              padding-right: 30px;
              padding-left: 0;
            }
          }
        }
      }
  
      .count-indicator {
        position: relative;
  
        .count-symbol,
        .count-number {
          position: absolute;
          border-radius: 100%;
        }
        .count-symbol {
          top: 17px;
          right: -3px;
          width: 10px;
          height: 10px;
          border: 2px solid $white;
        }
        .count-number {
          min-width: 14px;
          height: 14px;
          font-size: .5rem;
          color: $white;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          line-height: 14px;
          text-align: center;
        }
        &:after {
          display: none;
        }
      }
  
      .navbar-nav {
        flex-direction: row;
        align-items: center;
        .nav-item {
          .nav-link {
            color: inherit;
            font-size: $horizontal-top-font-size;
            margin-left: 15px;
            margin-right: 15px;
            height: $horizontal-menu-height / 2;
            @include display-flex;
            @include align-items(center);
            cursor: pointer;
            @media (max-width: 767px) {
              margin-left: .8rem;
              margin-right: .8rem;
            }
            i {
              font-size: $horizontal-menu-icon-font-size;
              color: $horizontal-top-menu-item-color;
            }
          }
          .dropdown {
            height: $horizontal-menu-height;
            display: flex;
            align-items: center;
            
            .dropdown-toggle {
              border: 0;
              padding: 0 20px;
              background: transparent;
              @extend .font-weight-normal;
              &:focus {
                box-shadow: none;
              }
              &:after {
                font-size: 14px;
                color: grey;
              }
              @media (min-width: 992px) {
                &::after{
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
  
                  .rtl & {
                    right: auto;
                    left: 0;
                  }
                }
              }
            }
            .dropdown-menu {
              @extend .dropdownAnimation;
              margin-top: 0;
              border: none;
              @include border-radius(5px);
              -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
              &.navbar-dropdown {
                position: absolute;            
                font-size: 0.875rem;
                margin-top: 15px;
                padding: 0;
  
                .rtl & {
                  right: auto;
                  left: 0;
                }
  
                .dropdown-item {
                  @extend .d-flex;
                  @extend .align-items-center;
                  margin-bottom: 0;
                  padding: 11px 13px;
                  cursor: pointer;
  
                  i {
                    font-size: 17px;
                  }
  
                  .ellipsis {
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .rtl & {
                    i{
                      @extend .mr-0;
                      margin-left: 10px;
                    }
                  }
                }
  
                .dropdown-divider {
                  margin: 0;
                }
              }
            }
            @media (max-width: 991px) {
              position: static;
              .navbar-dropdown {
                left: 20px;
                right: 20px;
                top: $horizontal-menu-height;
                width: 100%;
              }
            }
          }
          &.nav-settings {
            padding-left: 20px;
            padding-right: 5px;
            .nav-link{
              margin-right: 0;
              margin-left: 0;
              background-color: transparent;
            }
          }
          &.message-dropdown{
            .dropdown-toggle {
              padding: 0;
            }
            .count-number {
              top: 7px;
            }
          }
          &.language-dropdown {
            margin-left: 24px;
  
            .rtl & {
              margin-left: 0;
              margin-right: 24px;
            }
  
            .dropdown-toggle {
              margin-right: 0;
              margin-left: 0;
              padding-left: 44px;
              border-left: 1px solid #ecf0f4;
  
              .rtl & {
                padding-left: 20px;
                padding-right: 44px;
                border-left: 0;
                border-right: 1px solid #ecf0f4;
              }
  
              span {
                .rtl & {
                  margin: 0 0.5rem;
                }
              }
            }
          }
          &.nav-profile {
            .dropdown-toggle {
              margin-right: 0;
              margin-left: 0;
            }
            .nav-link {
              @extend .d-flex;
              .nav-profile-img {
                position: relative;
                width: 32px;
                height: 32px;
                img {
                  width: 32px;
                  height: 32px;
                  border-radius: 100%;
                }
                .availability-status {
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  border-radius: 100%;
                  border: 2px solid #ffffff;
                  top: 50%;
                  transform: translateY(-50%);
                  right: -5px;
                  &.online {
                    background: theme-color(success);
                  }
                  &.offline {
                    background: theme-color(danger);
                  }
                  &.busy {
                    background: theme-color(warning);
                  }
                }
              }
              .nav-profile-text {
                margin-left: 1.25rem;
                .rtl & {
                  margin-left: 0;
                  margin-right: 1.25rem;
                }
                p {
                  line-height: 1;
                }
                @media (max-width: 767px) {
                  display: none;
                }
              }
              &.dropdown-toggle {
                &:after {
                  line-height: 2;
                }
              }
            }
          }
        }
        &.navbar-nav-right {
          @media (min-width: 992px) {
            margin-left: auto;
            .rtl & {
              margin-left: 0;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
  .bottom-navbar {
      background: $horizontal-bottom-bg;			
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      @include display-flex;
      @include align-items(center);
      @include transition-duration(3s);
      @include transition-property(position,left,right,top,z-index);
      box-shadow: $horizontal-menu-box-shadow;
      -webkit-box-shadow: $horizontal-menu-box-shadow;
      -moz-box-shadow: $horizontal-menu-box-shadow;
      @include media-breakpoint-down(md) {
          display: none;
          &.header-toggled {
              display: block;
              max-height: calc(100vh - #{$horizontal-top-navbar-height});
              overflow: auto;
          }
      }

      .page-navigation {
          position: relative;
          width: 100%;
          z-index: 99;
          @include justify-content(space-between);
          @include transition-duration(0.2s);
          @include transition-property(background, box-shadow);
          @include media-breakpoint-down(md) {
              border: none;
          }

          > .nav-item {
              line-height: 1;
              text-align: left;
              @include media-breakpoint-down(md) {
                  display: block;
                  width: 100%;
                  border-right: none;
              }

              &:first-child {
                  @include media-breakpoint-up(lg) {
                      >.nav-link {
                          padding-left: 0;
                      }
                  }
              }

              &:last-child {
                  border-right: none;
                  @include media-breakpoint-up(lg) {
                      >.nav-link {
                          padding-right: 0;
                      }
                  }
              }

              > .nav-link {
                  color: $horizontal-bottom-menu-item-color;
                  padding: 22px 8px;
                  line-height: 1;
                  cursor: pointer;
                  @extend .d-flex;
                  @extend .align-items-center;
                  .menu-title {
                      font-size: $horizontal-bottom-menu-item-font-size;
                  }
                  .menu-icon {
                      margin-right: 10px;
                      font-size: $horizontal-menu-icon-font-size;
                      color: $horizontal-bottom-menu-item-icon-color;

                      .rtl & {
                          margin-right: 0;
                          margin-left: 10px;
                      }
                  }

                  .menu-arrow {
                      margin-left: 5px;
                      display: inline-block;
                      @include transform(rotate(0deg));
                      @include transform-origin(center);
                      @include transition-duration($action-transition-duration);

                      &:before {
                        content: "\f140";
                        font-family: "Material Design Icons";
                        font-style: normal;
                        display: block;
                        font-size: 18px;
                        line-height: 10px;
                      }
                  }
              }

              @media (min-width: 992px) {
                  &:hover {
                      @include show-submenu();
                  }
              }

              @include media-breakpoint-down(md) {
                  &.show-submenu {
                      @include show-submenu();
                  }
              }

              &.active {
                  > .nav-link {
                      position: relative;
                      &:before {
                          position: absolute;
                          content: "";
                          left: 0;
                          bottom: -2px;
                          width: 100%;
                          height: 5px;
                          @media (max-width: 991px) {
                            left: -15px;
                            top: 0;
                            bottom: 0;
                            height: 100%;
                            width: 5px;
                          }
                      }
                      .menu-title,
                      i,
                      .menu-arrow {
                          color: $horizontal-bottom-menu-item-active-color;							
                      }
                  }
              }

              .submenu {
                  display: none;
                  @extend .dropdownAnimation;
                  @media(max-width: 991px) {
                    background: $dark;
                    color: $light;
                  }

                  ul {
                      list-style-type: none;
                      padding-left: 0;
                  
                      li {
                          display: block;
                          line-height: 20px;

                          a {
                              display: block;
                              padding: 5px 10px;
                              color: $horizontal-bottom-menu-dropdown-item-color;
                              text-decoration: none;
                              text-align: left;
                              margin: 4px 0;
                              @include ellipsor;
                              @include transition-duration(0.2s);
                              @include transition-property(background);
                              @include border-radius(6px);

                              &:hover {
                                  color: theme-color(primary);
                                  @include transition (color .1s linear);
                                  &:before {
                                      background: theme-color(primary);
                                  }
                              }
                              &.active {
                                color: theme-color(primary);
                              }
                          }

                          &.active {
                              a {
                                      color: theme-color(primary);
                                      &:before {
                                          background: theme-color(primary);
                                      }
                              }
                          }
                      }
                  }
              }

              &:not(.mega-menu) {
                  position: relative;
                  .submenu {
                      @include menu-style;	
                      left: 0;													
                      @include media-breakpoint-down(md) {
                          top: 0;
                      }
                      ul {
                          width: auto;
                          padding: 25px;
                          @include media-breakpoint-down(md) {
                              padding: 0 23px;
                          }
                      }
                  }
              }

              &.mega-menu {
                  .submenu {
                      @include menu-style;
                      width: 100%;						
                      left: 0;
                      right: 0;
                      padding: 25px;

                      .category-heading {
                          font-size: .875rem;
                          text-align: left;
                          padding: 1rem 0;
                          margin-bottom: 0;
                          color: theme-color(primary);								
                      }
                      .col-group-wrapper {
                          padding: 0 1rem;								
                      }
                      @include media-breakpoint-down(md) {
                          padding: 0 32px;

                          .col-group-wrapper {
                              margin-left: 0;
                              margin-right: 0;
                              padding: 0;

                              .col-group {
                                  padding-left: 0;
                                  padding-right: 0;
                                  margin-bottom: 20px;

                                  .category-heading {

                                      &:after {
                                          display: none;
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
  }
  &.fixed-on-scroll {
    .bottom-navbar {
        @extend .fixed-top;
    }
  }
  @media (max-width: 991px) {
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
  }
}
